@charset "UTF-8";
/* CSS Document */

/* Layout */

body { 
	margin: 0;
	padding: 0;
	font-family: Optima, Century Gothic, Arial;
	color: black;
	line-height: 1.2em;
	height: 100%;
	text-align: center;
	background: #f0eee7;
	position: relative;
}

#container {
	min-width: 1000px;
	max-width: 1200px;
	max-height: 1025px;
	margin-top: 0;
	border:15px outset #6f3200;
	margin-right: 5%;
	margin-left: 5%;
	position: relative;
	text-align: center;
}
#slider-container {
	width: 1115px;
	margin: 0 auto;
}
#ceiling {
	position: relative;
	background: #9e9f99 url(images/ceiling.jpg) no-repeat;
	width: 100%;
	height: 84px;
	overflow: hidden;
}
#wall {
	background-image: none;
	position: relative;
	height: 500px;
	width: 100%;
	overflow: hidden;
	text-align: center;
	background: #FFF url(images/wall.jpg) no-repeat;
}

#home-wall {
	margin-top: 100px;
}
#floor {
	position: relative;
	background: #963 url(images/floor.jpg) no-repeat;
	width: 100%;
	height: 441px;
	z-index: 1;
}

.statement {
	float: left;
	clear: none;
	width: 270px;
	text-align: left;
	margin-left: 20px;
	margin-top: 30px;
	background: url(images/paper.jpg);
	border: solid 1px #CCC;
	padding: 5px;
	font-size: .8em;
}
.statement h1 {
	font-size: 1em;
}
	
.navbar {
	height: 1em;
	padding: 0;
	text-align: center;
}
.navbar li {
   list-style: none;
   list-style-type: none;
   float: left; 
   padding-left: 15px;}

.navbar li a {
   display: block;
   padding: 0px; 
}

/* Images and IR */
  
img.left {
	float: left;
	clear: none;
}
img.right {
	float: right;
	clear: none;
}
img.bg {
	width: 100%;
	height: 100%;
	z-index: 2;
}
img.lights {
	position: absolute; 
	top: 3px; 
	left: 0; 
	width: 100%; 
	z-index: 10;
}
a.portrait.about {
	background: url(images/portrait.png);
	width: 169px;
	height: 150px;
	position: absolute;
	top: -104px;
	left: 70px;
	z-index: 1;
}

a.click-here {
	width: 100px;
	height: 17px;
	background: url(images/click-here.png) 100% 100%;
}
a.click-here:hover {
	background-position: 0 0;
}
a.inquire-here {
	width: 119px;
	height: 25px;
	background: url(images/inquire-here.png) 0 0;
}
a.inquire-here:hover {
	background-position: 0 100%;
}
/* Font & Links */

/* My position of the nav */

.anythingSlider-default .anythingControls ul {
	position: absolute;
	right: 45px;
	margin-right: 70px;

}
#menu {
	float: right;
	margin-top: 469px;
	margin-right: 20px;
}
#menu li {
	display: inline;
}
/*
#wall a.about {
	position:absolute;
	right: 117px;
	top: 469px;
	color: #2a1437;
}
#wall a.contact-me {
	position:absolute;
	right: 20px;
	top: 469px;
}*/
a.cur,
a.cur:hover {
	color: #a95511 !important;
	text-shadow: 0 0 10px #d897ff;
}

a:link, a:visited
{ text-decoration: underline; color:#2a1437; font-size: 1.5em; }
a:hover, a:active
{ color:#aec880 !important; }

.statement a:visited { text-decoration: underline; color: #dcc5ed; font-size: 1em; }
.statement a:active { text-decoration: none; color: #c5d8ed; font-size: 1em; }
.statement a:hover { text-decoration: none; color: #c5d8ed; font-size: 1em; }
.statement a:link { text-decoration: underline; color: #303; font-size: 1em; }

.small {
	font-style: italic;
	font-size: .9em;
	margin-top: -20px;
}
#contact h1 {
	margin-top: 0;
}
#about-dialog {
	font-weight: bold;
	line-height: 1.1em;
	font-family: Arial, Helvetica, sans-serif;
}
#about-dialog h1 {
	font-size: 1.2em;
}
#about-dialog a {
	font-size: 1em;
}

/* Modal Styles */

#overlay {
	position:fixed; 
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#371429;
	opacity:0.5;
	filter:alpha(opacity=50);
	z-index: 9;
}

#modal {
	position:absolute;
	background:url(images/tint20.png) 0 0 repeat;
	background:rgba(255,201,73,0.2);
	border-radius: 8px;
	padding:8px;
	z-index: 99;
}

#contact {
	background: #fff url(images/contact-bg.png) 0 0 no-repeat;
	padding: 5px 5px 5px 200px;
	min-width: 295px;
	min-height: 237px;
	text-align: left;
	overflow: auto;
}
#contact a {
	font-size: 1em;
}

#about {
	background: #fff url(images/about-bg.png) 0 0 no-repeat;
	width: 677px;
	height: 650px;
	text-align: left;
}
#about-dialog {
	background: url(images/about-box-tint.png) repeat;
	width: 320px;
	height: 630px;
	overflow: auto;
	padding: 10px;
	text-align: left;
	margin-left: 70px;
}

#close {
	position:absolute;
	background:url(images/close.png) 0 0 no-repeat;
	width:35px;
	height:35px;
	display:block;
	top:-7px;
	right:-7px;
	z-index: 999;
}
